<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>카카오맵 시작하기</title>
            <script src="http://code.jquery.com/jquery-latest.js"></script>
        </head>
        <body>
            <div id="map" style="width: 500px; height: 400px;"></div>
            <input type="text" placeholder="위도를 입력해주세요" id="lat">
            <input type="text" placeholder="경도를 입력해주세요" id="lng">
            <button value="Enter" id="enter">Enter</button>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9bb347d4f022c0a35791fc41f6552d25"></script>
            <script src="../static/index.js"></script>
        </body>
    </html>